nav {
  login-buttons {
    margin-left: 80%;
  }
}

.bg-dark-blue {
  background-color: #87cefa;
}

.pick-ux:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
