<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
    <h2>
      <span ui-sref="app.home" style="color: grey;">
        Chat POC
      </span>
    </h2>
  <div style="color: white;">
      <md-button ui-sref="app.home">Home</md-button>
      <md-button ui-sref="app.user">User Experience</md-button>
      <md-button ui-sref="admin.home">Admin Experience</md-button>
  </div>
  <div class="nav-buttons">
      <login-buttons></login-buttons>
  </div>
</div>
